.container{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: pink;
}

body{
  background-color: rgb(10,99,80);
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.screen{
  outline: none;
  font-size: 60px;
  background-color: #cccccc;
  width: 91%;
  color: white;
}

button{
  outline: none;
  height:50px;
  width:220px;
  font-size: 20px;
  flex: 33%;
}

input[type="button"]{
  outline: none;
  width: 30%;
  height: 40px;

}
