body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color:#444;
  font-weight: 400;
  background-color: #3452cc;
}
.container{
  text-align: center;
  border: black solid 2px;
  border-radius: 30px;
  color: white;
  padding: 10px;
}
button{
  background-color: #ffbf99;
  padding: 4px;
}
#msg{
  color:yellow;
}
